h1 {
    font-size: 50px;
    text-align: center;
}
.board {
    border: 2px solid #000;
    user-select: none;
    margin: auto;
    width: fit-content;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid #000;
    box-sizing: border-box;
}

.cell.empty {
    background-color: #333;
}

.cell.I {
    background-color: #00f;
}

.cell.J {
    background-color: #00a;
}

.cell.L {
    background-color: #f60;
}

.cell.O {
    background-color: #ff0;
}

.cell.S {
    background-color: #0a0;
}

.cell.T {
    background-color: #a0a;
}

.cell.Z {
    background-color: #a00;
}
